<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
	<span style="color: rgb(0, 0, 0); font-family: &quot;Microsoft JhengHei&quot;; font-size: 10pt; white-space: pre-wrap;">{{ 旅館名稱 }}，您好</span>
	<br>
	<span style="color: rgb(0, 0, 0); font-family: &quot;Microsoft JhengHei&quot;; font-size: 10pt; white-space: pre-wrap;">{{ 地址 }}，您好</span>
	</p>
	<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
		<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; vertical-align: baseline; white-space: pre-wrap;"></span>
	</p>
	<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
		<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">我是虹樺Naomi，奧丁丁的行銷業務代表，簡單與您介紹奧丁丁團隊，奧丁丁是一個結合社群、地點照片分享、電子商務和旅遊的平台，其中奧丁丁市集的台灣鮮乳地圖、水果地圖都非常知名，在台灣有超過12萬的使用者！</span>
	</p>
	<br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
		<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
			<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">官網訂房系統結合旅遊服務是我們目前發展重點，現在各種旅遊和比價資訊豐富，年輕消費者幾乎都選擇自助旅行，在訂購完機票和旅館後，他們也期待能找到真正在地且深度的旅遊行程，譬如在台灣東海岸泛舟、在古巴參觀雪茄工廠、在丹麥體驗頂級米其林餐廳 之旅與前往泰國抓鬼體驗 等等，我們希望成為全球這些體驗的銷售平台。</span>
		</p>
		<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
			<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; vertical-align: baseline; white-space: pre-wrap;"></span>
		</p>
		<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
			<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">目前我們在花蓮作旅宿市場開發，希望能夠結合奧丁丁再地體驗，推出套裝行程在我們平台做販售。這邊給您看目前在我們平台上的例子</span>
		</p>
		<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
			<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">清水斷崖獨木舟搭配住宿的行程:</span>
			<a href="http://bit.ly/2eY8sOz" style="color: rgb(17, 85, 204);">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">http://bit.ly/2eY8sOz</span>
			</a>
		</p>
		<br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">奧丁丁官網訂房系統，提供RWD手機訂房，減少大量的人力支出，並且透過官網，提升旅客對民宿與旅館的信賴感，為整體品牌形象加分。</span>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;"></span>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">另外，我們官網提供多國語言服務，讓您的遊客不只侷限在台灣遊客，讓外國遊客，也能對您一目了然，直接訂購，在網路上曝光，吸引到世界各地前來的旅客！</span>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 12pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">以下是關於我們團隊的相關報導，非常歡迎您的加入！</span>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">奧丁丁首頁- </span>
				<a href="https://www.owlting.com/" style="color: rgb(17, 85, 204);">
					<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">https://www.owlting.com</span>
				</a>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">奧丁丁在地體驗-</span>
				<a href="https://www.owlting.com/experiences/?curr=TWD" style="color: rgb(17, 85, 204);">
					<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">https://www.owlting.com/experiences</span>
				</a>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 12pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">奧丁丁FB專頁- </span>
				<a href="https://www.facebook.com/OwlTingMarket" style="color: rgb(17, 85, 204);">
					<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">https://www.facebook.com/OwlTingMarket</span>
				</a>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; vertical-align: baseline; white-space: pre-wrap;"></span>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">網路媒體-</span>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">報導者-</span>
				<a href="https://goo.gl/zSpKbl" style="color: rgb(17, 85, 204);">
					<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;"> https://goo.gl/zSpKbl</span>
				</a>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">Inside硬塞 創辦人專文-</span>
				<a href="http://goo.gl/NWxgqi" style="color: rgb(17, 85, 204);">
					<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;"> http://goo.gl/NWxgqi</span>
				</a>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">聯合報願景工程 創辦人演講-</span>
				<a href="http://goo.gl/k1sjHG" style="color: rgb(17, 85, 204);">
					<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;"> http://goo.gl/k1sjHG</span>
				</a>
			</p>
			<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
				<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">第三媒體-</span>
				<a href="http://goo.gl/dO9rck" style="color: rgb(17, 85, 204);">
					<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;"> http://goo.gl/dO9rck</span>
				</a>
			</p>
			<br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
				<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
					<span style="font-size: 9.5pt; font-family: &quot;Microsoft JhengHei&quot;; font-weight: 700; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">為什麼要使用奧丁丁訂房系統?</span>
				</p>
				<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
					<span style="font-size: 9.5pt; font-family: &quot;Microsoft JhengHei&quot;; font-weight: 700; vertical-align: baseline; white-space: pre-wrap;">■帳務管理安全保證</span>
				</p>
				<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
					<span style="font-size: 9.5pt; font-family: &quot;Microsoft JhengHei&quot;; vertical-align: baseline; white-space: pre-wrap;">VCN 虛擬卡號收款，信用雙重保障</span>
				</p>
				<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
					<span style="font-size: 9.5pt; font-family: &quot;Microsoft JhengHei&quot;; font-weight: 700; vertical-align: baseline; white-space: pre-wrap;">■內部管理更輕鬆</span>
				</p>
				<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
					<span style="font-size: 9.5pt; font-family: &quot;Microsoft JhengHei&quot;; vertical-align: baseline; white-space: pre-wrap;">智能合約自動排房，節省人力；多種銷售報表，充分掌握</span>
				</p>
				<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
					<span style="font-size: 9.5pt; font-family: &quot;Microsoft JhengHei&quot;; font-weight: 700; vertical-align: baseline; white-space: pre-wrap;">■專業線上行銷推廣</span>
				</p>
				<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
					<span style="font-size: 9.5pt; font-family: &quot;Microsoft JhengHei&quot;; vertical-align: baseline; white-space: pre-wrap;">彈性制定專案活動、動態定價、內建CRM管理系統、自訂加購項目、結合奧丁丁在地體驗</span>
				</p>
				<br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
					<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
						<span style="font-size: 10.5pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">我們預計10月會在花蓮做拜訪，若是有機會，希望能跟您約個拜訪時間，替您做個完整個介紹，也希望您可以成為我們前三十名免費試用的合作夥伴唷。有任何問題，也可以打電話或加LINE跟</span>
						<span style="font-size: 10.5pt; font-family: &quot;Times New Roman&quot;; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">我詢問唷</span>
						<span style="font-size: 10.5pt; font-family: Arial; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap;">!</span>
					</p>
					<br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small;">
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<span style="font-size: 10pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(127, 127, 127); vertical-align: baseline; white-space: pre-wrap;">Sincerely,</span>
						</p>
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<span style="font-size: 10pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(136, 136, 136); vertical-align: baseline; white-space: pre-wrap;">Naomi Chen 陳虹樺 </span>
						</p>
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<span style="font-size: 11pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(136, 136, 136); vertical-align: baseline; white-space: pre-wrap;">Marketing Representative 行銷業務代表</span>
						</p>
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<span style="font-size: 11pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(136, 136, 136); vertical-align: baseline; white-space: pre-wrap;">OBOOK Inc. 歐簿客科技</span>
						</p>
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<a href="http://www.owlting.com/" style="color: rgb(17, 85, 204);">
								<span style="font-size: 11pt; font-family: &quot;Microsoft JhengHei&quot;; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">www.owlting.com</span>
							</a>
						</p>
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<span style="font-size: 10.5pt; font-family: Arial; color: rgb(136, 136, 136); vertical-align: baseline; white-space: pre-wrap;">Phone:</span>
							<span style="font-size: 10.5pt; font-family: Arial; color: rgb(17, 85, 204); text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">+886-968-968-900</span>
						</p>
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<span style="font-size: 10.5pt; font-family: Arial; color: rgb(136, 136, 136); vertical-align: baseline; white-space: pre-wrap;">Tel: &nbsp;</span>
							<span style="font-size: 10.5pt; font-family: Arial; color: rgb(17, 85, 204); vertical-align: baseline; white-space: pre-wrap;">+886-2-2365-9536</span>
						</p>
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<span style="font-size: 10.5pt; font-family: Arial; color: rgb(136, 136, 136); vertical-align: baseline; white-space: pre-wrap;">Fax: </span>
							<span style="font-size: 10.5pt; font-family: Arial; color: rgb(17, 85, 204); vertical-align: baseline; white-space: pre-wrap;">+886-2-2365-9535</span>
						</p>
						<p dir="ltr" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: small; line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">
							<span style="font-size: 11pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(136, 136, 136); vertical-align: baseline; white-space: pre-wrap;">Line ID: naomi820702</span>
						</p>
						<div>
							<span style="font-size: 11pt; font-family: &quot;Microsoft JhengHei&quot;; color: rgb(136, 136, 136); vertical-align: baseline; white-space: pre-wrap;">
								<br>
								</span>
							</div>
						