[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
mypy = "*"
coverage = "*"

[packages]
pandas = "*"
jinja2 = "*"
click = "*"
pyyaml = "*"
colorama = "*"
xlrd = "*"

[requires]
python_version = "3.7"
